<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/css/details.css">
    <title>Document</title>
</head>

<body>
    <div class="header">
        <div class="logo">
            <!-- <img src="../public/img/back.png" alt=""> -->
            <span><</span>
        </div>
        <div class="query">
           <a href="">{{return}}</a>
        </div>
    </div>
    <div class="banner">
        <img src="../public/img/2.jpg" alt="">
        <span>{{bookname}}</span>
        <button>{{collection}}</button>
    </div>
    <div class="content">
        <div class="btn">
            <div class="details button"><a href="/details">详情</a></div>
            <div class="catalog button"><a href="/catalog">目录</a></div>
        </div>
        <div class="data">
            <div class="jianjie">

            </div>
            <div class="liuyan"></div>
            <ul>
                <li>sdfsdgsdgdsgds</li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <span>第一章：学习手册概述</span>
        <button><a href="/jie">开始阅读</a></button>
    </div>
    <script src="../public/js/fontsizeset.js"></script>
</body>

</html>